@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 1rem;
    font-family: 'Montserrat', monospace, Arial, sans-serif;
    line-height: 1.5;
    background-color: lightgray;
}

p {}

a {}

ul {}

ol {}

li {}

img {
    width: 30%;
    height: auto;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    color: black;
    border-top: 1rem solid red;
    background-image: url(800_200_tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1 {
    z-index: 10;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px #000, -1px 0 0 #000;
}

header > h2 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px #000, -1px 0 0 #000;
}

.mainnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkgrey;
    padding-bottom: 2rem;
    padding-top: none;
    font-size: 1.3rem
}

/*************************************************
            NAVMENU
*************************************************/
nav {
    padding: 1rem 2rem;

}

nav > a,
nav > a:visited,
nav > a:link {}

nav > a:active,
nav > a:focus,
nav > a:hover {}

/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;



}

section {}

section p {
    flex-wrap:

}

section p img {
    float: inherit;
}

/*************************************************
            FOOTER
*************************************************/
footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1rem solid green;
}

.foot nav {
    background-color: darkgrey;

}

.foot section {
    background-color: darkgrey;
    font-size: 2rem;
    padding: 30px;
    border: .1rem solid black;
}

.foot dl {
    background-color: darkgrey;
    text-align: center;
    border: .1rem solid black;
}

.foot dt {
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bolder;
}

.foot dd {
    padding: 6px;
}

.foot dd a,
.foot dd a:visited {}

.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover {}

/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {

    main h1,
    h2 {
        text-decoration: underline red;
        font-size: 2rem;
        padding: 1rem;
        font-weight: bolder;
    }

    header {
        border-top: 1rem solid red;
    }

    .mainnav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .main-link {
        padding-left: 1rem;

    }

    footer {
        border-top: 1rem solid red;
    }

    .foot dt {
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: underline red;
    }
}

@media (min-width: 600px) and (max-width:999px) {

    main h1,
    h2 {
        text-decoration: underline yellow;
        font-size: 2rem;
        padding: 1rem;
        font-weight: bolder;
    }

    header {
        border-top: 1rem solid yellow;
    }

    footer {
        border-top: 1rem solid yellow;
    }

    .foot dt {
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: underline yellow;
    }
}

@media (min-width: 1000px) {

    main h1,
    h2 {
        text-decoration: underline green;
        font-size: 2rem;
        padding: 1rem;
        font-weight: bolder;
    }

    header {
        border-top: 1rem solid green;
    }

    .foot dt {
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: underline green;
    }
